@define-mixin atSmall {
	@media (min-width: 530px) {
		@mixin-content;
	}
}

@define-mixin atMedium {
	@media (min-width: 800px) {
		@mixin-content;
	}
}

@define-mixin atLarge {
	@media (min-width: 1010px) {
		@mixin-content;
	}
}

/* This bit creates an empty pseudo component 'after' the row contents
and clears the float. The display line is for browser support. */
@define-mixin clearfix {
	&::after {
		content: "";
		clear: both;
		display: table;
	}
}